body{
	background-color: #E5EADE;
	color:green;
	font-size:25px;
	font-family:Helvetica;
	margin: 0;
}

#banner{
	text-align:center;
	background-image:url("https://picsum.photos/1300/600/?random");
	background-size:cover;
	padding:100px;
	color:white;
	text-shadow:1px 1px 5px black;
}

h1{
	font-family:Courier;
	color:orange;
	font-weight:light;
}

#banner h1{
	color:white;
	font-size:50px;
}

.card{
	text-align: center;
	padding:80px;
	font-weight: lighter;
}

h2{
	font-family:Courier;
	color:pink;
	font-size:28px;
}

a{
	color:purple;
	text-decoration: 
}

a:hover{
	color:yellow;
	font-size:24px;
}

#footer{
    padding: 50px;
	background-color:rgb(30, 30, 30);
	color:rgb(240, 240, 240);
}

.social{
	color:rgb(230, 230, 230);
}

.social:hover{
	color:white;
}